* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  /* background-color: rgb(36, 36, 36); */
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid blue;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  width: 100%;
  margin-bottom: 3em;
}

nav {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  gap: 2em;
  margin-bottom: 5em;
}

nav > a {
  color: black;
  font-size: 2rem;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  /* background-color: lightgoldenrodyellow; */
  background-color: rgb(220, 219, 219);
}

.profile-img-container {
  width: 35%;
  padding: 1.5em;
}

.profile-img-container > img {
  display: block;
  border-radius: 100%;
  width: 100%;
}

.profile-info {
  text-align: center;
  width: 75%;
}

.profile-info > section > h1 {
  font-size: 3.5rem;
}

.profile-info > section > .title {
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
}

.profile-info > section > p {
  font-size: 1.5rem;
  padding: .5em;
}




.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid yellow;
}

.projects-container > h2 {
  color: black;
  font-size: 2rem;
}

.project-showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: whitesmoke;
  /* border: 1px solid magenta; */
  margin-block: 1.5em;
  padding: 1em;
  gap: 1em;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  color: black;
}

.project-title {
  font-weight: bold;
  margin-bottom: .5em;
}

.project-desc {
  margin-top: 0;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1em;
}

.project-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-weight: 500;
  color: black;
  background-color: rgb(7, 217, 7);
  border: 1px solid rgb(7, 217, 7);
  border-radius: .5em;
  text-decoration: none;
  padding: 1em .5em;
}

.project-git-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 50%;
  font-weight: 400;
  color: whitesmoke;
  background-color: black;
  border: 1px solid whitesmoke;
  border-radius: .5em;
  padding: .5em;
}

.project-git-link > img {
  display: block;
  height: auto;
  width: 35px;
  margin-right: .5em;
}

.features {
  width: 100%;
}

.features > p {
  text-align: center;
}

.features-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: .5em;
  margin-block: 1em;
}

.features-grid > span {
  text-align: center;
  color: black;
  background-color: rgb(215, 213, 213);
  border-radius: .5em;
  padding: .25em .75em;
}

.project-showcase > .project-card > .project-title {
  font-size: 1.5rem;
}

.showcase-img-container {
  width: 35%;
}

.showcase-img-container > img {
  display: block;
  width: 100%;
  border: 1px solid black;
}

a:hover {
  opacity: .75;
}






/* CONTACT */


.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 100%;
  color: whitesmoke;
  border: 1px solid green;
}

.contact-text {
  width: 50%;
}

.contact-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  font-weight: 400;
  color: whitesmoke;
  background-color: black;
  border: 1px solid whitesmoke;
  border-radius: .5em;
  padding: .5em;
}

.contact-link > img {
  display: block;
  height: auto;
  width: 35px;
  margin-right: .5em;
}











/*Potential somewhere else 


.profile-info > article {
  display: flex;
  align-items: center;
  background-color: lightgoldenrodyellow;
  border: 2px solid black;
  border-radius: .5em;
  padding: 1em;
  margin-block: .75em .25em;
}

.small-profile-img-container {
  height: 75px;
  width: 75px;
}

.small-profile-img-container > img {
  width: 100%;
}

*/