* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", serif;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

nav {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  gap: 2.5em;
  margin-top: 2em;
  margin-bottom: 4em;
}

nav > a {
  color: black;
  text-decoration: none;
  font-size: 1.75rem;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: .5em;
  padding: .25em .75em;
  cursor: pointer;
}

a:hover {
  opacity: .60;
}



/*About Styling*/

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: whitesmoke;
  margin: 2em 0;
}

.profile-img-container {
  width: 35%;
  padding: 1.5em;
}

.profile-img-container > img {
  display: block;
  border-radius: 100%;
  width: 100%;
}

.profile-info {
  text-align: center;
  width: 75%;
}

.profile-info > section > h1 {
  font-size: 3rem;
}

.profile-info > section > .title {
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
}

.profile-info > section > p {
  font-size: 1.5rem;
  padding: .75em;
}



/*Projects Styling*/

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-container > h2 {
  color: black;
  font-size: 2.5rem;
}

.projects-container > span {
  font-size: 1.5rem;
}

.project-showcase {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  width: 75%;
  background-color: whitesmoke;
  margin: 2em auto;
  gap: 1.5em;
}

.project-card {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  color: black;
}

.project-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5em;
}

.project-desc {
  margin-top: 0;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid magenta;
  gap: 1em;
}

.project-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  font-weight: bold;
  color: black;
  background-color: #3eebdc;
  border: 1px solid #3eebdc;
  border-radius: .5em;
  text-decoration: none;
}

.project-git-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  text-decoration: none;
  font-weight: 500;
  color: whitesmoke;
  background-color: black;
  border: 1px solid black;
  border-radius: .5em;
}

.project-git-link > img {
  display: block;
  height: auto;
  width: 35px;
  margin-right: .5em;
  padding: .125em;
}

.features {
  width: 100%;
}

.features > p {
  text-align: center;
}

.features-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: .5em;
  margin-block: 1em;
}

.features-grid > span {
  display: flex;
  align-items: center;
  justify-content: center;
  hyphens: auto; /* Add hyphenation for long words */
  overflow-wrap: break-word; /* Break long words */
  color: black;
  background-color: rgb(215, 213, 213);
  border-radius: .5em;
  padding: .25em .75em;
}

.dev-notes {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  background-color: rgb(215, 213, 213);
  padding: 1em;
}

.showcase-img-container {
  justify-self: center;
  width: 100%;
}

.showcase-img-container > img {
  display: block;
  width: 100%;
  border: 1px solid black;
}



/*Contact Styling*/

h3 {
  font-size: 2.5rem;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: black;
  background-color: rgb(36,36,36);
  padding: 2.5em 2em;
  gap: 1.5em;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: whitesmoke;
  width: 20%;
}

.icon-container > svg {
  height: 75px;
  width: 75px;
  color: black;
  margin-top: 2em;
  cursor: pointer;
}

.icon-container > svg:visited {
  color: black;
}

.icon-container > path {
  height: 75px;
  width: 75px;
}

.contact-card-name {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  border-top: 2px solid black;
  margin-bottom: 0;
  padding-block: .5em;
}



/*Media Queries*/

/* Mobile smartphones (up to 768px) */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 1.5em;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 0 1em;
  }
  
  nav > a {
    font-size: 1.5rem;
    padding: .5em 1em;
    text-align: center;
  }
  
  .profile {
    flex-direction: column;
    width: 95%;
    margin: 1em 0;
    padding: 1em;
  }
  
  .profile-img-container {
    width: 50%;
    padding: 1em;
    order: -1; /* Move image above text */
  }
  
  .profile-info {
    width: 100%;
    margin-top: .5em;
  }
  
  .profile-info > section > h1 {
    font-size: 2.5rem;
  }
  
  .profile-info > section > .title {
    font-size: 1.5rem;
  }
  
  .profile-info > section > p {
    font-size: 1.25rem;
    padding: .5em;
  }
  
  .projects-container > h2 {
    font-size: 2rem;
    text-align: center;
  }
  
  .projects-container > span {
    font-size: 1.25rem;
    text-align: center;
    padding: 0 1em;
    margin-bottom: 1em;
  }
  
  .project-cards {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 95%;
    padding: 0 1em;
  }
  
  .project-showcase {
    flex-direction: column;
    width: 100%;
    margin-block: 1em;
    padding: 1em;
    gap: 1em;
  }
  
  .project-card {
    width: 100%;
    text-align: center;
  }
  
  .project-title {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }
  
  .project-desc {
    font-size: 1.1rem;
    margin-bottom: 1em;
  }
  
  .link-container {
    flex-direction: column;
    gap: 1em;
    width: 100%;
  }
  
  .project-link,
  .project-git-link {
    width: 100%;
    padding: 1em;
    font-size: 1.1rem;
  }
  
  .project-git-link > img {
    width: 25px;
    margin-right: .5em;
  }
  
  .features-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: .75em;
    margin-block: 1.5em;
  }
  
  .features-grid > span {
    padding: .5em 1em;
    font-size: 1rem;
  }
  
  .showcase-img-container {
    width: 100%;
    margin-bottom: 1em;
  }
  
  h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1em;
  }
  
  .contact-container {
    flex-direction: column;
    padding: 2em 1em;
    gap: 2em;
  }
  
  .contact-card {
    width: 80%;
    padding: 1em;
  }
  
  .icon-container > svg {
    height: 60px;
    width: 60px;
    margin-top: 1em;
  }
  
  .contact-card-name {
    font-size: 1.25rem;
    padding-block: .5em;
  }
}

/* 1080p screens (1920x1080) - Scale up by ~1.5x */
@media screen and (min-width: 1600px) and (max-width: 1920px) {
  nav {
    gap: 3.75em;
    margin-bottom: 7.5em;
  }
  
  nav > a {
    font-size: 2.6rem;
    padding: .375em 1.125em;
  }
  
  .profile {
    width: 85%;
    margin: 3em 0;
  }
  
  .profile-img-container {
    padding: 2.25em;
  }
  
  .profile-info > section > h1 {
    font-size: 4.5rem;
  }
  
  .profile-info > section > .title {
    font-size: 3rem;
  }
  
  .profile-info > section > p {
    font-size: 2.25rem;
    padding: .75em;
  }
  
  .projects-container > h2 {
    font-size: 3.75rem;
  }
  
  .projects-container > span {
    font-size: 2rem;
  }
  
  .project-showcase {
    margin-block: 2.25em;
    padding: 1.5em;
    gap: 1.5em;
  }
  
  .project-title {
    font-size: 2rem;
  }
  
  .project-link,
  .project-git-link {
    font-size: 1.25rem;
  }
  
  .project-git-link > img {
    width: 10%;
  }
  
  h3 {
    font-size: 3.75rem;
  }
  
  .contact-container {
    padding: 3.75em 3em;
    gap: 2.25em;
  }
  
  .icon-container > svg {
    height: 112.5px;
    width: 112.5px;
    margin-top: 3em;
  }
  
  .contact-card-name {
    font-size: 2.25rem;
    padding-block: .75em;
  }
}

/* 1440p screens (2560x1440) - Scale up by ~2x */
@media screen and (min-width: 1921px) {
  nav {
    gap: 5em;
    margin-top: 3em;
    margin-bottom: 7em;
  }
  
  nav > a {
    font-size: 2.75rem;
    padding: .5em 1.5em;
  }
  
  .profile {
    width: 70%;
    margin: 4em 0;
  }
  
  .profile-img-container {
    padding: 3em;
  }
  
  .profile-info > section > h1 {
    font-size: 4rem;
  }
  
  .profile-info > section > .title {
    font-size: 3rem;
  }
  
  .profile-info > section > p {
    font-size: 2rem;
    padding: 1em;
  }

  .project-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 1.5em;
    column-gap: 1.5em;
  }

  .project-cards > :nth-child(4) {
    justify-content: flex-start;
  }

  .project-card {
    width: 100%;
  }
  
  .projects-container > h2 {
    font-size: 4rem;
  }
  
  .projects-container > span {
    font-size: 2.5rem;
  }
  
  .project-showcase {
    flex-direction: column;
    margin-block: 3em;
    padding: 2em;
    gap: 2em;
  }
  
  .project-showcase > .project-card > .project-title {
    font-size: 2.5rem;
  }

  .project-desc {
    font-size: 1.5rem;
    text-align: center;
  }

  .project-link {
    font-size: 1.5rem;
    padding: 1.4em 0;
  }
  
  .project-git-link {
    font-size: 1.5rem;
    padding: 1em;
  }
  
  .project-git-link > img {
    width: 50px;
  }
  
  .features-grid {
    gap: 1em;
    margin-block: 2em;
  }
  
  .features-grid > span {
    font-size: 1.25rem;
    padding: .75em 1.5em;
  }

  .showcase-img-container {
    width: 100%;
  }
  
  h3 {
    font-size: 4rem;
  }
  
  .contact-container {
    padding: 4em 3em;
    gap: 3em;
  }
  
  .icon-container > svg {
    height: 125px;
    width: 125px;
    margin-top: 4em;
  }
  
  .contact-card-name {
    font-size: 3rem;
  }
}