* {
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid blue;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  width: 100%;
}

nav {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  gap: 2em;
  margin-bottom: 3em;
}

nav > a {
  font-size: 2rem;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  background-color: lightgoldenrodyellow;
}

.profile-img-container {
  width: 35%;
}

.profile-img-container > img {
  display: block;
  width: 100%;
}

.profile-info {
  text-align: center;
  width: 65%;
}






.project-showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.vg-img-container {
  width: 33%;
}

.vg-img-container > img {
  width: 100%;
}







/*Potential somewhere else 


.profile-info > article {
  display: flex;
  align-items: center;
  background-color: lightgoldenrodyellow;
  border: 2px solid black;
  border-radius: .5em;
  padding: 1em;
  margin-block: .75em .25em;
}

.small-profile-img-container {
  height: 75px;
  width: 75px;
}

.small-profile-img-container > img {
  width: 100%;
}

*/